<div class='row'>
    <div class='column'>
        <h2 class = 'mb-2'>About Me</h2>
    </div>
</div>
<br>

<div class='row'>
    <h3>Hello! &#128075; I am Bartosz Raubo</h3>
    <div class='seven columns left'>
        <p>I was born in Poland and moved to the UK in 1998. Initially an archaeologist, I was involved in several excavations in the Middle East. Academia was never for me, but it did instill in me a love for understanding systems - abstract things of human construction that end up controlling more of our lives than we care to admit. </p>
        <p>After a brief career as a Paralegal (Law is, after all, the source code of civilisation), I taught myself to code through an Udemy course and a lot of mucking around on different personal projects.</p>
        <p>I ended up applying for the <a href='https://8thlight.com/careers/'>Apprenticeship at 8th Light</a> and after a pretty intense (but genuinely engaging process) I started as a Trainee Software Crafter in September 2021. This blog will serve as some kind of record of this apprenticeship, and after that... who knows?</p>
    </div>
    <div class='five columns right'>
        <div class='right'>
            <img src=<%= theme.about_photo %> alt='This was supposed to be an image of me!' style='border: 2px solid black;'>
        </div>
    </div>
</div>