<div class="row">
  <div class="column">
    <!-- Main information, edit it on theme/_config.yml -->
    <h2 class="mb-2">Paralegal => Software Consultant</h2>
    <p>Stories from the 8th Light Apprenticeship</p><br>
    <p>Hello! &#128075;<br>This is a blog about my experiences during the 8th Light Software Development Apprenticeship. If you want to find out more about me or 8th Light, the links are above. Time will tell how well maintained this is.</p>
  </div>
</div>
<br>

<h3>Recent Posts</h3>

<% site.posts.sort('date', 'desc').limit(theme.max_post).forEach(function(post){ %>
<div class="row">

  <div class="three columns left lit">
    <p class="bottom"><%- full_date(post.date, 'll') %></p>
  </div>
  <div class="nine columns left mb-3">
    <a href="<%- url_for(post.path) %>" >
      <% if (post.title == "") { %>
        no title
      <% } else { %>
        <%- post.title %>
      <% } %>
    </a>
  </div>
</div>
<% }) %>

<h4> <a href="<%= config.root %>archives">All Posts</a></h4>
